- name: "5.2.1 Ensure permissions on /etc/ssh/sshd_config are configured (Automated)"
  become: yes
  file:
    path: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: 0600
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.1

- name: "5.2.2 Ensure permissions on SSH private host key files are configured (Automated)"
  become: yes
  vars:
    path: "/tmp/5.2.2.sh"
  block:
    - copy:
        src: tmp/5.2.2.sh
        dest: {{ path }}
        owner: root
        group: root
        mode: 0750
    - command: /bin/bash {{ path }}
      ignore_errors: True
    - file:
        path: {{ path }}
        state: absent
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.2

