- name: "5.4.1 Ensure custom authselect profile is used (Manual)"
  become: yes
  block:
    - file:
        path: "/etc/authselect/custom/cis/"
        state: absent
    - command: authselect create-profile cis -b sssd --symlink-meta
    - command: authselect select custom/cis with-sudo with-faillock without-nullok
  when: level1|bool
  tags:
    - section5
    - section5.4
    - section5.4.1

- name: "5.4.2 Ensure authselect includes with-faillock (Automated)"
  become: yes
  block:
    - command: authselect enable-feature with-faillock
    - command: authselect apply-changes
  when: level1|bool
  tags:
    - section5
    - section5.4
    - section5.4.2

