- name: "5.4.1 Ensure password creation requirements are configured (Automated)"
  become: yes
  block:
    - apt: 
        name: libpam-pwquality
        state: present
    - template:
        src: "etc/security/pwquality.conf.j2"
        dest: "/etc/security/pwquality.conf"
        owner: root
        group: root
        mode: 0640
  when: level1|bool
  tags:
    - section5
    - section5.4
    - section5.4.1

- name: "5.4.2 Ensure lockout for failed password attempts is configured (Automated)"
  become: yes
  block:
    - lineinfile:
        path: "/etc/security/faillock.conf"
        regexp: '(?i)deny'
        line: "deny = {{ maximum_allowed_false_logins }}"
    - lineinfile:
        path: "/etc/security/faillock.conf"
        regexp: '(?i)fail_interval'
        line: "fail_interval = {{ false_login_fail_interval }}"
    - lineinfile:
        path: "/etc/security/faillock.conf"
        regexp: '(?i)unlock_time'
        line: "unlock_time = {{ false_login_unlock_time }}"
    #common-auth
    - template:
        src: "etc/pam.d/common-auth"
        dest: "/etc/pam.d/common-auth"
    #common-account
    - lineinfile:
        path: "/etc/pam.d/common-account"
        regexp: '(?i)account *required *pam_faillock.so'
        line: 'account    required    pam_faillock.so'
  when: level1|bool
  tags:
    - section5
    - section5.4
    - section5.4.2

- name: "5.4.3 Ensure password reuse is limited (Automated)"
  become: yes
  lineinfile:
    path: "/etc/pam.d/common-password"
    regexp: '(?i)password *required *pam_pwhistory.so'
    line: 'password     required      pam_pwhistory.so use_authtok remember=5'
    insertbefore: '(?i)password\s*.success=1 default=ignore.\s*pam_unix[.]so'
  when: level1|bool
  tags:
    - section5
    - section5.4
    - section5.4.3



- name: "5.4.4 Ensure password hashing algorithm is up to date with the latest standards (Automated)"
  become: yes
  block:
    - lineinfile:
        path: "/etc/login.defs"
        regexp: '(?i)ENCRYPT_METHOD'
        line: 'ENCRYPT_METHOD yescrypt'
    - lineinfile:
        path: "/etc/pam.d/common-password"
        regexp: '(?i)password *[success=1 default=ignore] *pam_unix.so'
        line: 'password [success=1 default=ignore] pam_unix.so obscure use_authtok try_first_pass remember=5'
  when: level1|bool
  tags:
    - section5
    - section5.4
    - section5.4.4

- name: "5.4.5 Ensure all current passwords uses the configured hashing algorithm (Manual)"
  become: yes
  block:
    - copy: 
        src: "tmp/5.4.5.sh"
        dest: "/tmp/5.4.5.sh"
        owner: root
        group: root
        mode: 0750
  #notify: force change passwords
  when: level1|bool
  tags:
    - section5
    - section5.4
    - section5.4.5

