---
- name: Make sure the folder exists
  become: yes
  file:
    path: /usr/local/share/ca-certificates
    state: directory
  register: result

- name: copy VPP-ROOT-CA
  become: yes
  copy: 
    src: "{{ vpp_root_ca_file }}"
    dest: "/usr/local/share/ca-certificates/{{ vpp_root_ca_file | basename }}.crt"
    owner: root
    group: root
    mode: 0644
  register: result

- name: copy VPP-LAB-ROOT-CA
  become: yes
  copy: 
    src: "{{ vpp_lab_root_ca_file }}"
    dest: "/usr/local/share/ca-certificates/{{ vpp_lab_root_ca_file | basename }}.crt"
    owner: root
    group: root
    mode: 0644
  when: labor|bool
  register: result

- name: delete VPP-LAB-ROOT-CA
  become: yes
  file: 
    path: "/usr/local/share/ca-certificates/{{ vpp_lab_root_ca_file | basename }}.crt" 
    state: absent
  register: result
  when: labor|bool == False

- name: Update CA Trust
  become: yes
  command: /usr/sbin/update-ca-certificates
  when: result | changed
