- name: "4.2.2.1 Ensure rsyslog is installed (Automated)"
  become: yes
  apt:
    name: rsyslog
    state: present
    update_cache: yes
  when: level1|bool
  tags:
    - section4
    - section4.2
    - section4.2.2
    - section4.2.2.1

- name: "4.2.2.2 Ensure rsyslog service is enabled (Automated)"
  become: yes
  systemd:
    name: rsyslog
    state: started
    enabled: yes
  when: level1|bool
  tags:
    - section4
    - section4.2
    - section4.2.2
    - section4.2.2.2

- name: "4.2.2.3 Ensure journald is configured to send logs to rsyslog (Manual)"
  become: yes
  lineinfile:
    path: "/etc/systemd/journald.conf"
    regexp: "[Ff]orward[Tt]o[Ss]yslog="
    line: "ForwardToSyslog=yes"
    owner: root
    group: root
    mode: 0644
  notify: restart journald
  when: level1|bool
  tags:
    - section4
    - section4.2
    - section4.2.2
    - section4.2.2.3

- name: "4.2.2.4 Ensure rsyslog default file permissions are configured (Automated)"
  become: yes
  lineinfile:
    path: "/etc/rsyslog.conf"
    regexp: "^$FileCreateMode"
    line: "$FileCreateMode 0640"
    owner: root
    group: root
    mode: 0644
  notify: restart rsyslog
  when: level1|bool
  tags:
    - section4
    - section4.2
    - section4.2.2
    - section4.2.2.4

- name: "4.2.2.5 Ensure logging is configured (Manual)"
  become: yes
  template:
    src: etc/rsyslog.conf.j2
    dest: /etc/rsyslog.conf
    owner: root
    group: root
    mode: 0644
  notify: restart rsyslog
  when: level1|bool
  tags:
    - section4
    - section4.2
    - section4.2.2
    - section4.2.2.5
 
- name: "4.2.2.6 Ensure rsyslog is configured to send logs to a remote log host (Manual)"
  become: yes
  template:
    src: etc/rsyslog.d/remote.conf.j2
    dest: /etc/rsyslog.d/remote.conf
    owner: root
    group: root
    mode: 0644
  notify: restart rsyslog
  when: level1|bool
  tags:
    - section4
    - section4.2
    - section4.2.2
    - section4.2.2.6

- name: "4.2.2.7 Ensure rsyslog is not configured to receive logs from a remote client (Automated)"
  become: yes
  lineinfile:
    path: /etc/rsyslog.conf
    regexp: ".*imtcp.*"
    line: ""
  notify: restart rsyslog
  when: level1|bool
  tags:
    - section4
    - section4.2
    - section4.2.2
    - section4.2.2.7

