- name: "4.2.1.1 Ensure journald is configured to send logs to a remote log host"
  include_tasks: section_4.2.1.1.yml

- name: "4.2.1.2 Ensure journald service is enabled (Automated)"
  become: yes
  systemd:
    name: systemd-journald.service
    state: started
    enabled: False
  when: level1|bool
  tags: 
    - section4
    - section4.2
    - section4.2.1
    - section4.2.1.2

- name: "4.2.1.3 Ensure journald is configured to compress large log files (Automated)"
  become: yes
  lineinfile:
    path: "/etc/systemd/journald.conf"
    regexp: "[cC]ompress="
    line: "Compress=yes"
    owner: root
    group: root
    mode: 0644
  notify: restart journald
  when: level1|bool
  tags: 
    - section4
    - section4.2
    - section4.2.1
    - section4.2.1.3

- name: "4.2.1.4 Ensure journald is configured to write logfiles to persistent disk (Automated)"
  become: yes
  lineinfile:
    path: "/etc/systemd/journald.conf"
    regexp: "[sS]torage="
    line: "Storage=persistent"
    owner: root
    group: root
    mode: 0644
  notify: restart journald
  when: level1|bool
  tags: 
    - section4
    - section4.2
    - section4.2.1
    - section4.2.1.4

- name: "4.2.1.5 Ensure journald is not configured to send logs to rsyslog (Manual)"
  become: yes
  lineinfile:
    path: "/etc/systemd/journald.conf"
    regexp: "[Ff]orward[Tt]o[Ss]yslog="
    line: "ForwardToSyslog=yes"
    owner: root
    group: root
    mode: 0644
  notify: restart journald
  when: level1|bool
  tags: 
    - section4
    - section4.2
    - section4.2.1
    - section4.2.1.5

- name: "4.2.1.6 Ensure journald log rotation is configured per site policy (Manual)"
  become: yes
  block:
    - name: "4.2.1.6 | SystemMaxUse"
      lineinfile:
        path: "/etc/systemd/journald.conf"
        regexp: ""
        line: "SystemMaxUse=2G"
        owner: root
        group: root
        mode: 0644
    - name: "4.2.1.6 | SystemKeepFree"
      lineinfile:
        path: "/etc/systemd/journald.conf"
        regexp: ""
        line: "SystemKeepFree=10%"
        owner: root
        group: root
        mode: 0644
    - name: "4.2.1.6 | RunTimeMaxUse"
      lineinfile:
        path: "/etc/systemd/journald.conf"
        regexp: ""
        line: "RunTimeMaxUse=1G"
        owner: root
        group: root
        mode: 0644
    - name: "4.2.1.6 | RuntimeKeepFree"
      lineinfile:
        path: "/etc/systemd/journald.conf"
        regexp: ""
        line: "RuntimeKeepFree=10%"
        owner: root
        group: root
        mode: 0644
    - name: "4.2.1.6 | MaxFileSec"
      lineinfile:
        path: "/etc/systemd/journald.conf"
        regexp: ""
        line: "MaxFileSec=1d"
        owner: root
        group: root
        mode: 0644
  when: level1|bool
  tags: 
    - section4
    - section4.2
    - section4.2.1
    - section4.2.1.6

- name: "4.2.1.7 Ensure journald default file permissions configured (Manual)"
  become: yes
  copy:
    src: etc/tmpfiles.d/systemd.conf
    dest: /etc/tmpfiles.d/systemd.conf
    owner: root
    group: root
    mode: 0640
  when: level1|bool
  tags: 
    - section4
    - section4.2
    - section4.2.1
    - section4.2.1.7

