---
# need to be adjusted:

ntp_server_list: 1.11.5.37 1.11.5.36 # seperated by spaces
ntp_fallback_server_list: 1.50.1.68 1.50.1.69 # seperated by spaces

level1: True
level2: True

debian_repository_hostname: de-vpc-fravc-spm-001
debian_repository_port: 8443

configure_nagios: True # or False
nagios_host_ip1: 1.11.0.133

enable_coredumps: False
enable_firewall: False # True or False  

enable_apparmor: True
enable_apparmor_complain: False   # only possible for Level 1
enable_apparmor_enforce: True     # forced for Level 2

enable_logging_journald_remote: False # True or False
enable_logging_journald_remote_server: 192.168.1.1 # journald remote server address
enable_logging_journald_remote_ServerKeyFilePath: /etc/ssl/private/journal-upload.pem
enable_logging_journald_remote_ServerCertPath: /etc/ssl/certs/journal-upload.pem
enable_logging_journald_remote_TrustCertPath: /etc/ssl/ca/trusted.pem
enable_logging_jounrald_remote_ServerKey: 
enable_logging_jounrald_remote_ServerCert: 
enable_logging_jounrald_remote_TrustCert: 


content_login_banner: |
  ############################>>>>>#############################
  ###            This system is private property of          ###
  ###        Deutsche Telekom Buisness Solutions GmbH.       ###
  ###                                                        ###
  ### Only authorized access to this system is allowed. All  ###
  ### activities on this system are monitored. By continuing ###
  ### activities on this system, you accept this rules.      ###
  ###                                                        ###
  ### WARNING!                                               ###
  ### Any unauthorized access to this system is strictly     ###
  ### prohibited and will be prosecuted to the full extend   ###
  ### of applicable local and international law.             ###
  ###########################<<<<<##############################


## be carefull with following parameters

hardening_version: v2.0
hardening_date: 28.09.2022

ansible_user: povadmin
ansible_password: deb11_povadmin
ansible_become_method: su
ansible_become_password: deb11_root
hardening_header: |
  # {{ ansible_os_family }}-Linux Hardening {{ hardening_version }}
  #
  # Ansible managed: modified on {{ ansible_date_time }}
  #
  # Date {{ hardening_date }}

grub_v2_user: root
grub_v2_password: blubb
grub_password_v2_unrestricted: True
grub_password_unrestricted_files: 
  - /etc/grub.d/10_linux
grub_v2_password_script: "/tmp/grub_v2_passwd.sh"
systemd_coredump_config_file: /etc/systemd/coredump.conf
security_hardlimits_config_file: /etc/security/limits.d/hardlimits.conf

auditd_log_file: /var/log/audit/audit.log
auditd_max_log_file: 10 # default 8MB
auditd_num_logs: 20
auditd_space_left: 75
auditd_space_left_action: SYSLOG
auditd_admin_space_left: 50
auditd_admin_space_left_action: halt # halt or single are allowed
auditd_disk_full_action: SUSPEND


## Debian specific

debian_grub_file_user_config: "/etc/grub.d/40_custom"

## Oracle specific

