---
# Could be adjusted:

level1: True
level2: True

debian_repository_hostname: de-vpc-fravc-spm-001
debian_repository_port: 8443

## DO NOT TOUCH

hardening_version: v2.0
hardening_date: 28.09.2022

ansible_user: povadmin
ansible_password: deb11_povadmin
ansible_become_method: su
ansible_become_password: deb11_root

grub_v2_user: root
grub_v2_password: blubb
grub_password_v2_unrestricted: True
grub_password_unrestricted_files: 
  - /etc/grub.d/10_linux
grub_v2_password_script: "/tmp/grub_v2_passwd.sh"

## Debian specific

debian_grub_file_user_config: "/etc/grub.d/40_user"

## Oracle specific


