- name: "5.2.1 Ensure permissions on /etc/ssh/sshd_config are configured (Automated) (Debian) (Debian) (Debian) (Debian) (Debian) (Debian) (Debian) (Debian)"
  become: yes
  file:
    path: "/etc/ssh/sshd_config"
    owner: root
    group: root
    mode: 0600
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.1

- name: "5.2.2 Ensure permissions on SSH private host key files are configured (Automated) (Oracle)"
  become: yes
  vars:
    path: "/tmp/5.2.2.sh"
  block:
    - copy:
        src: "tmp/5.2.2.sh"
        dest: "{{ path }}"
        owner: root
        group: root
        mode: 0750
    - command: "/bin/bash {{ path }}"
    - file:
        path: "{{ path }}"
        state: absent
  when: 
    - level1|bool
    - ansible_os_family == "Debian"
  tags:
    - section5
    - section5.2
    - section5.2.2

- name: "5.2.2 Ensure permissions on SSH private host key files are configured (Automated) (Oracle)"
  become: yes
  block:
    - command: find /etc/ssh -xdev -type f -name 'ssh_host_*_key' -exec chmod u-x,g-wx,o-rwx {} \;
    - command: find /etc/ssh -xdev -type f -name 'ssh_host_*_key' -exec chown root:ssh_keys {} \;
  when: 
    - level1|bool
    - ansible_os_family == "RedHat"
  tags:
    - section5
    - section5.2
    - section5.2.2

- name: "5.2.3 Ensure permissions on SSH public host key files are configured (Automated)"
  become: yes
  block:
    - command: find /etc/ssh -xdev -type f -name 'ssh_host_*_key.pub' -exec chmod u-x,go-wx {} \;
    - command: find /etc/ssh -xdev -type f -name 'ssh_host_*_key.pub' -exec chown root:root {} \;

- name: "5.2.4 Ensure SSH access is limited (Automated)"
  become: yes
  block:
    - name: "5.2.4 Ensure SSH access is limited (Automated) |-> check if sshd_config.d/ exists"
      stat:
        path: "/etc/ssh/sshd_config.d/"
      register: sshd_config_d
    - name: "5.2.4 Ensure SSH access is limited (Automated) |-> create sshd_config.d/ if not exists"
      file:
        path: "/etc/ssh/sshd_config.d/"
        state: directory
        mode: 0640
        owner: root
        group: root
      notify: restart sshd
      when: sshd_config_d.stat.exists == false
    - name: "5.2.4 Ensure SSH access is limited (Automated) |-> create allow_groups.conf"
      copy:
        dest: "/etc/ssh/sshd_config.d/allow_groups.conf"
        content: "AllowGroups {{ sshd_allow_groups }}"
        owner: root
        group: root
        mode: 0640
      notify: restart sshd
    - name: "5.2.4 Ensure SSH access is limited (Automated) |-> config include_path"
      lineinfile:
        path: "/etc/ssh/sshd_config"
        regexp: "(?i)Include"
        line: "Include /etc/ssh/sshd_config.d/*.conf"
        insertbefore: BOF
      notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.4

- name: "5.2.5 Ensure SSH LogLevel is appropriate (Automated)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*LogLevel.*'
    line: "LogLevel {{ sshd_loglevel }}"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.5

- name: "5.2.6 Ensure SSH PAM is enabled (Automated)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*UsePAM.*'
    line: "UsePAM yes"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.6
  
- name: "5.2.7 Ensure SSH root login is disabled (Automated)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*PermitRootLogin.*'
    line: "PermitRootLogin no"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.7

- name: "5.2.8 Ensure SSH HostbasedAuthentication is disabled (Automated)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*HostbasedAuthentication.*'
    line: "HostbasedAuthentication no"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.8

- name: "5.2.9 Ensure SSH PermitEmptyPasswords is disabled (Automated)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*PermitEmptyPasswords.*'
    line: "PermitEmptyPasswords no"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.9

- name: "5.2.10 Ensure SSH PermitUserEnvironment is disabled (Automated)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*PermitUserEnvironment.*'
    line: "PermitUserEnvironment no"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.9

- name: "5.2.11 Ensure SSH IgnoreRhosts is enabled (Automated)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*IgnoreRhosts.*'
    line: "IgnoreRhosts yes"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.11

- name: "5.2.12 Ensure SSH X11 forwarding is disabled (Automated)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*x11forwarding.*'
    line: "x11forwarding no"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level2|bool
  tags:
    - section5
    - section5.2
    - section5.2.12

- name: |
    "5.2.13 Ensure only strong Ciphers are used (Automated)"
    "5.2.14 Ensure only strong MAC algorithms are used (Automated)"
    "5.2.15 Ensure only strong Key Exchange algorithms are used (Automated)"
  become: yes
  template:
    src: "etc/ssh/sshd_config.d/encryption.conf.j2"
    dest: "/etc/ssh/sshd_config.d/encryption.conf"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: 
    - level1|bool
    - ansible_os_family == "Debian"
  tags:
    - section5
    - section5.2
    - section5.2.13
    - section5.2.14
    - section5.2.15

- name: "5.2.14 Ensure system-wide crypto policy is not over-ridden (Automated)"
  become: yes
  notify: restart sshd
  replace:
    path: "/etc/ssh/sshd_config"
    regexp: '^\s*(CRYPTO_POLICY=.*)'
    replace: '#\1'
  when:
    - level1|bool
    - ansible_os_family == "RedHat"

- name: "5.2.16 Ensure SSH AllowTcpForwarding is disabled (Automated)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*AllowTcpForwarding.*'
    line: "AllowTcpForwarding no"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: 
    - level2|bool
    - ansible_os_family == "Debian"
  tags:
    - section5
    - section5.2
    - section5.2.16

- name: |
    "5.2.17 Ensure SSH warning banner is configured (Automated) (Debian)"
    "5.2.15 Ensure SSH warning banner is configured (Automated) (Oracle)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*Banner.*'
    line: "Banner /etc/issue.net"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.17

- name: |
    "5.2.18 Ensure SSH MaxAuthTries is set to 4 or less (Automated) (Debian)"
    "5.2.16 Ensure SSH MaxAuthTries is set to 4 or less (Automated) (Oracle)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*MaxAuthTries.*'
    line: "MaxAuthTries 3"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.18

- name: | 
    "5.2.19 Ensure SSH MaxStartups is configured (Automated) (Debian)"
    "5.2.17 Ensure SSH MaxStartups is configured (Automated) (Oracle)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*MaxStartups.*'
    line: "MaxStartups 10:30:60"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.19

- name: |
    "5.2.20 Ensure SSH MaxSessions is set to 10 or less (Automated) (Debian)"
    "5.2.18 Ensure SSH MaxSessions is set to 10 or less (Automated) (Oracle)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*MaxSessions.*'
    line: "MaxSessions 10"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.20


- name: |
    "5.2.21 Ensure SSH LoginGraceTime is set to one minute or less (Automated) (Debian)"
    "5.2.19 Ensure SSH LoginGraceTime is set to one minute or less (Automated) (Oracle)"
  become: yes
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '(?i).*LoginGraceTime.*'
    line: "LoginGraceTime 60"
    owner: root
    group: root
    mode: 0640
  notify: restart sshd
  when: level1|bool
  tags:
    - section5
    - section5.2
    - section5.2.21

- name: "5.2.22 Ensure SSH Idle Timeout Interval is configured (Automated)"
  become: yes
  block:
    - lineinfile:
        path: "/etc/ssh/sshd_config"
        regexp: '(?i).*ClientAliveInterval.*'
        line: "ClientAliveInterval 15"
        owner: root
        group: root
        mode: 0640
    - lineinfile:
        path: "/etc/ssh/sshd_config"
        regexp: '(?i).*ClientAliveCountMax.*'
        line: "ClientAliveCountMax 3"
        owner: root
        group: root
        mode: 0640
      notify: restart sshd
  when: 
    - level1|bool
    - ansible_os_family == "Debian"
  tags:
    - section5
    - section5.2
    - section5.2.22

- name: "5.2.20 Ensure SSH Idle Timeout Interval is configured (Automated)"
  become: yes
  block:
    - lineinfile:
        path: "/etc/ssh/sshd_config"
        regexp: '(?i).*ClientAliveInterval.*'
        line: "ClientAliveInterval 900"
        owner: root
        group: root
        mode: 0640
    - lineinfile:
        path: "/etc/ssh/sshd_config"
        regexp: '(?i).*ClientAliveCountMax.*'
        line: "ClientAliveCountMax 0"
        owner: root
        group: root
        mode: 0640
      notify: restart sshd
  when: 
    - level1|bool
    - ansible_os_family == "RedHat"
  tags:
    - section5
    - section5.2
    - section5.2.22




