---
- name: "CIS Section 1.1 Filesystem Configuration"
  include_tasks: section_1.1.yml

- name: "CIS Section 1.2 Configure Software Updates"
  include_tasks: section_1.2.yml

- name: "CIS Section 1.3 Configure AIDE"
  include_tasks: section_1.3.yml

- name: "CIS Section 1.4 GRUB"
  include_tasks: section_1.4.yml

- name: "CIS Section 1.5 Additional Process Hardening"
  include_tasks: section_1.5_{{ ansible_os_family }}.yml

- name: "CIS Section 1.6 Mandatory Access Control"
  include_tasks: section_1.6.yml

- name: "CIS Section 1.7 Command Line Warning Banners"
  include_tasks: section_1.7.yml

- name: "CIS Section 1.8 GNOME Display Manager"
  include_tasks: section_1.8.yml

- name: "CIS Section 1.9 Ensure updates, patches, and additional security software are installed (Manual)"
  include_tasks: section_1.9.yml

- name: "CIS Section 1.10 Ensure system-wide crypto policy is not legacy (Automated)"
  become: yes
  block:
    - dnf:
        name: crypto-policies-scripts
        state: present
    - name: "1.10 Ensure system-wide crypto policy is not legacy (Automated) |-> configure crypto policy"
      command: update-crypto-policies --set DEFAULT
    - name: "1.10 Ensure system-wide crypto policy is not legacy (Automated) |-> update crypto policy"
      command: update-crypto-policies
    - name: "1.10 Ensure system-wide crypto policy is not legacy (Automated) |-> enable FIPS"
      command: fips-mode-setup --enable
      when: enable_fips_mode|bool
  when: 
    - level1|bool 
    - ansible_os_family == "RedHat"
  tags:
    - section1
    - section1.10




