- name: remount tmp 
  become: yes
  ansible.posix.mount:
    path: /tmp
    state: remounted

- name: remount var
  become: yes
  ansible.posix.mount:
    path: /var
    state: remounted

- name: remount var_tmp
  become: yes
  ansible.posix.mount:
    path: /var/tmp
    state: remounted  

- name: remount var_log
  become: yes
  ansible.posix.mount:
    path: /var/log
    state: remounted  

- name: remount var_log_audit
  become: yes
  ansible.posix.mount:
    path: /var/log/audit
    state: remounted  

- name: remount home
  become: yes
  ansible.posix.mount:
    path: /home
    state: remounted  

- name: remount dev_shm
  become: yes
  ansible.posix.mount:
    path: /dev/shm
    state: remounted  

- name: create var_log_audit
  become: yes
  lvol:
    vg: deb
    lv: var_log_audit
    size: 1g
    force: yes
  filsystem:
    fstype: xfs
    dev: /dev/mapper/deb-var_log_audit
  mount:
    path: /var/log/audit
    src: /dev/mapper/deb-var_log_audit
    fstype: xfs
    state: mounted
  
