- name: remount tmp 
  become: yes
  ansible.posix.mount:
    path: /tmp
    state: remounted

- name: remount var
  become: yes
  ansible.posix.mount:
    path: /var
    state: remounted

- name: remount var_tmp
  become: yes
  ansible.posix.mount:
    path: /var/tmp
    state: remounted  

- name: remount var_log
  become: yes
  ansible.posix.mount:
    path: /var/log
    state: remounted  

- name: remount var_log_audit
  become: yes
  ansible.posix.mount:
    path: /var/log/audit
    state: remounted  

- name: remount home
  become: yes
  ansible.posix.mount:
    path: /home
    state: remounted  

- name: remount dev_shm
  become: yes
  ansible.posix.mount:
    path: /dev/shm
    state: remounted  

- name: remount var_log_audit
  mount:
    path: /var/log/audit
    src: /dev/mapper/deb-var_log_audit
    fstype: xfs
    state: mounted
  
- name: reload systemd
  become: yes
  systemd:
      daemon_reload: yes

- name: "update grub"
  become: yes
  command: /usr/sbin/grub-mkconfig -o /boot/grub/grub.cfg

- name: reboot
  become: yes
  reboot:
      reboot_timeout: 3600
