- name: remount tmp 
  become: yes
  ansible.posix.mount:
    path: /tmp
    state: remounted

- name: remount var
  become: yes
  ansible.posix.mount:
    path: /var
    state: remounted

- name: remount var_tmp
  become: yes
  ansible.posix.mount:
    path: /var/tmp
    state: remounted  

- name: remount var_log
  become: yes
  ansible.posix.mount:
    path: /var/log
    state: remounted  

- name: remount var_log_audit
  become: yes
  ansible.posix.mount:
    path: /var/log/audit
    state: remounted  

- name: remount home
  become: yes
  ansible.posix.mount:
    path: /home
    state: remounted  

- name: remount dev_shm
  become: yes
  ansible.posix.mount:
    path: /dev/shm
    state: remounted  

- name: remount var_log_audit
  mount:
    path: /var/log/audit
    src: /dev/mapper/deb-var_log_audit
    fstype: xfs
    state: mounted
  
- name: reload systemd
  become: yes
  systemd:
      daemon_reload: yes

- name: "update grub"
  become: yes
  command: /usr/sbin/grub-mkconfig -o /boot/grub/grub.cfg

- name: reboot
  become: yes
  reboot:
      reboot_timeout: 3600

- name: restart auditd
  become: yes
  command: /usr/sbin/service auditd restart

- name: restart journald
  become: yes
  systemd:
    name: systemd-journald
    state: restarted

- name: restart rsyslog
  become: yes
  systemd:
    name: rsyslog
    state: restarted
    
- name: restart sshd
  become: yes
  systemd:
    name: ssh
    state: restarted

- name: force change passwords
  become: yes
  block:
    - command: "/bin/bash /tmp/5.4.5.sh"
    - file:
        path: "/tmp/5.4.5.sh"
        state: absent

- name: restart nftables
  become: yes
  systemd:
    name: nftables
    state: restarted
