- name: "6.1.1 Ensure permissions on /etc/passwd are configured (Automated)"
  become: yes
  file:
    path: "/etc/passwd"
    owner: root
    group: root
    mode: 0644
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.1

- name: "6.1.2 Ensure permissions on /etc/passwd- are configured (Automated)"
  become: yes
  file:
    path: "/etc/passwd-"
    owner: root
    group: root
    mode: 0644
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.2
    
- name: "6.1.3 Ensure permissions on /etc/group are configured (Automated)"
  become: yes
  file:
    path: "/etc/group"
    owner: root
    group: root
    mode: 0644
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.3

- name: "6.1.4 Ensure permissions on /etc/group- are configured (Automated)"
  become: yes
  file:
    path: "/etc/group-"
    owner: root
    group: root
    mode: 0644
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.4

- name: "6.1.5 Ensure permissions on /etc/shadow are configured (Automated)"
  become: yes
  file:
    path: "/etc/shadow"
    owner: root
    group: shadow
    mode: 0640
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.5

- name: "6.1.6 Ensure permissions on /etc/shadow- are configured (Automated)"
  become: yes
  file:
    path: "/etc/shadow-"
    owner: root
    group: shadow
    mode: 0640
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.6

- name: "6.1.7 Ensure permissions on /etc/gshadow are configured (Automated)"
  become: yes
  file:
    path: "/etc/gshadow"
    owner: root
    group: shadow
    mode: 0640
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.7

- name: "6.1.8 Ensure permissions on /etc/gshadow- are configured (Automated)"
  become: yes
  file:
    path: "/etc/gshadow-"
    owner: root
    group: shadow
    mode: 0640
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.8

- name: "6.1.9 Ensure no world writable files exist (Automated)"
  become: yes
  vars:
    - temp_script: "tmp/6.1.9.sh"
  block:
      - copy: 
          src: "{{ temp_script }}"
          dest: "/{{ temp_script }}"
          owner: root
          group: root
          mode: 0750
      - command: "/{{ temp_script }}"
        register: result
      - debug:
            msg: 
              - "no output should come: "
              - "{{ result.stdout_lines }} "
              - "WARNING! not ready yet, as not necessary on new VMs"
      - file: 
          path: "/{{ temp_script }}"
          state: absent
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.9

- name: "6.1.10 Ensure no unowned files or directories exist (Automated)"
  become: yes
  vars:
    - temp_script: "tmp/6.1.10.sh"
  block:
      - copy: 
          src: "{{ temp_script }}"
          dest: "/{{ temp_script }}"
          owner: root
          group: root
          mode: 0750
      - command: "/{{ temp_script }}"
        register: result
      - debug:
            msg: 
              - "no output should come: "
              - "{{ result.stdout_lines }} "
              - "WARNING! not ready yet, as not necessary on new VMs"
      - file: 
          path: "/{{ temp_script }}"
          state: absent
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.10

- name: "6.1.11 Ensure no ungrouped files or directories exist (Automated)"
  become: yes
  vars:
    - temp_script: "tmp/6.1.11.sh"
  block:
      - copy: 
          src: "{{ temp_script }}"
          dest: "/{{ temp_script }}"
          owner: root
          group: root
          mode: 0750
      - command: "/{{ temp_script }}"
        register: result
      - debug:
            msg: 
              - "no output should come: "
              - "{{ result.stdout_lines }} "
              - "WARNING! not ready yet, as not necessary on new VMs"
      - file: 
          path: "/{{ temp_script }}"
          state: absent
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.11

- name: "6.1.12 Audit SUID executables (Manual)"
  become: yes
  vars:
    - temp_script: "tmp/6.1.12.sh"
  block:
      - copy: 
          src: "{{ temp_script }}"
          dest: "/{{ temp_script }}"
          owner: root
          group: root
          mode: 0750
      - command: "/{{ temp_script }}"
        register: result
      - debug:
            msg: 
              - "no output should come: "
              - "{{ result.stdout_lines }} "
              - "WARNING! not ready yet, as not necessary on new VMs"
      - file: 
          path: "/{{ temp_script }}"
          state: absent
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.12

- name: "6.1.13 Audit SGID executables (Manual)"
  become: yes
  vars:
    - temp_script: "tmp/6.1.13.sh"
  block:
      - copy: 
          src: "{{ temp_script }}"
          dest: "/{{ temp_script }}"
          owner: root
          group: root
          mode: 0750
      - command: "/{{ temp_script }}"
        register: result
      - debug:
            msg: 
              - "no output should come: "
              - "{{ result.stdout_lines }} "
              - "WARNING! not ready yet, as not necessary on new VMs"
      - file: 
          path: "/{{ temp_script }}"
          state: absent
  when: level1|bool
  tags:
    - section6
    - section6.1
    - section6.1.13

