- name: "1.9 | patching system"
  become: yes
  apt:
    name: "*"
    state: latest
    update_cache: yes
    cache_valid_time: 3600
    autoremove: yes
  when: level1|bool
  tags: 
    - section1
    - section1.9

