- name: "1.1.2.1 Ensure /tmp is a separate partition (Automated)"
  become: yes
  assert:
    that: "'/tmp' in mounts"
    fail_msg: "Failed! Mountpoint /tmp is mandatory and must be created. Not configured in Ansible yet."
    success_msg: "Success!"
  when:
    - level1|bool == True
  tags:
    - section1
    - section1.1
    - section1.1.2

- name: |
    1.1.2.2 | Ensure nodev option set on /tmp partition
    1.1.2.3 | Ensure noexec option set on /tmp partition
    1.1.2.4 | Ensure nosuid option set on /tmp partition
  become: yes
  mount:
      name: /tmp
      src: "UUID={{ item.uuid }}"
      fstype: "{{ item.fstype }}"
      state: present
      opts: defaults,nodev,noexec,nosuid
  notify: 
    - remount tmp 
  loop: "{{ ansible_mounts }}"
  loop_control:
    label: "{{ item.mount }}"
  when:
    - item.mount == '/tmp'
    - level1|bool == True
  tags:
    - section1
    - section1.1
    - section1.1.2
