- name: "1.1.10 Disable USB Storage (Automated)"
  become: yes
  vars:
      usb_storage_config: "/etc/modprobe.d/usb-storage.conf"
  block:
    - name: "Disabling usb-storage"
      modprobe: 
        name: usb-storage
        state: absent
  
    - name: "Writing {{ usb_storage_config }}"
      copy:
        dest: "{{ usb_storage_config }}"
        content: |
             install usb-storage /bin/true
             blacklist crausb-storagemfs
 
    - name: "Setting ownership + permissions to {{ usb_storage_config }}"
      file: 
        path: "{{ usb_storage_config }}"
        mode: 0644
        owner: root
  when: level1|bool == True
  tags:
    - section1
    - section1.1
    - section1.1.10
