- name: "1.1.6.1 Ensure /var/log/audit is a separate partition (Automated)"
  become: yes
  block:
    - block:
        - name: "1.1.6.1 |-> read /dev/sda partitiontable (Oracle)"
          parted: device=/dev/sda unit=MiB
          register: sda_info
        - name: "1.1.6.1 |-> Creating new partition (Oracle)"
          parted:
            device: /dev/sda
            number: "{{ sda_info.partitions | length }}"
            part_end: "12GiB"
            resize: true
            state: present
#        - name: "new partition"
#          parted:
#            device: /dev/sda
#            number: {{ sda_info.partitions | length }} +1
#            part_end: "2GiB"
#            state: present
        - name: "1.1.6.1 |-> resize partition table (Oracle)"
          command: partx -u /dev/sda
        - name: "1.1.6.1 |-> resize Volume Group (Oracle)"
          lvol:
            vg: "{{ logical_volume_group }}"
            resizefs: yes
            pvs: /dev/sda3
      when: ansible_os_family == "RedHat"
    - name: "1.1.6.1 |-> Creating Logical Volume for /var/log/audit"
      lvol:
        vg: "{{ logical_volume_group }}"
        lv: "var_log_audit"
        size: 1g
        force: yes
    - name: "1.1.6.1 |-> Formatting /dev/mapper/{{ logical_volume_group }}-var_log_audit"
      filesystem:
        fstype: xfs
        dev: "/dev/mapper/{{ logical_volume_group }}-var_log_audit"
    - name: "1.1.6.1 |-> mounting /var/log/audit"
      mount:
        path: /var/log/audit
        src: "/dev/mapper/{{ logical_volume_group }}-var_log_audit"
        fstype: xfs
        state: mounted
  when:
    - "'/var/log/audit' not in mounts"
    - level2|bool == True
  tags:
    - section1
    - section1.1
    - section1.1.6

- name: |
    1.1.6.2 | Ensure nodev option set on /var/log/audit partition
    1.1.6.3 | Ensure noexec option set on /var/log/audit partition
    1.1.6.4 | Ensure nosuid option set on /var/log/audit partition
  become: yes
  mount:
      name: /var/log/audit
      src: "{{ item.device }}"
      fstype: "{{ item.fstype }}"
      state: present
      opts: defaults,nodev,nosuid,noexec
  notify: 
    - remount var_log_audit
  loop: "{{ ansible_mounts }}"
  loop_control:
    label: "{{ item.mount }}"
  when:
    - item.mount == '/var/log/audit'
    - level1|bool == True
  tags:
    - section1
    - section1.1
    - section1.1.6
