- name: | 
    "1.3 Filesystem Integrity Checking"
    "1.3.1 Ensure AIDE is installed (Automated)"
  block:
    - name: "Installing aide"
      apt:
        name: aide
        state: present
        update_cache: yes
    - name: "Installing aide-common"
      apt:
        name: aide-common
        state: present
        update_cache: yes
    - name: "Initializing AIDE"
      command: aideinit
    - name: "Creating AIDE Database"
      command: mv /var/lib/aide/aide.db.new /var/lib/aide/aide.db
  when: level1|bool
  when: ansible_os_family = "Debian"
  tags:
    - section 1
    - section 1.3
    - section 1.3.1

- name: "1.3.2 Ensure filesystem integrity is regularly checked (Automated)"
  vars: 
    aidecheck_service_file: /etc/systemd/system/aidecheck.service
    aidecheck_timer_file: /etc/systemd/system/aidecheck.timer
  block:
    - name: "Creating aidecheck.service"
      copy:
        dest: "{{ aidecheck_service_file }}"
        content: |
          [Unit]
          Description=Aide Check
          [Service]
          Type=simple
          ExecStart=/usr/bin/aide.wrapper --config /etc/aide/aide.conf --check
          [Install]
          WantedBy=multi-user.target
        mode: 0644
        owner: root
        group: root
      notify: reload systemd
    - name: "creating aidecheck.timer"
      copy:
        dest: "{{ aidecheck_timer_file }}"
        content: |
          [Unit]
          Description=Aide check every day at 5AM
          [Timer]
          OnCalendar=*-*-* 05:00:00
          Unit=aidecheck.service
          [Install]
          WantedBy=multi-user.target
        mode: 0644
        owner: root
        group: root
      notify: reload systemd
    - systemd:
        name: aidecheck.service
        state: enabled, started
    - systemd:
        name: aidecheck.timer
        state: enabled
  when: level1|bool
  tags:
    - section 1
    - section 1.3
    - section 1.3.1
    - section 1.3.2