- name: "1.1.6.1 Ensure /var/log/audit is a separate partition (Automated)"
  collections:
      - community.general
  become: yes
  block:
    - block:
        - name: "1.1.6.1 |-> read /dev/sda partitiontable (Oracle)"
          community.general.parted: 
              device: /dev/sda 
              unit: MiB
          register: sda_info
          #    - name: "asdasd"
          #debug:
          #  msg: "{{ sda_info }}"
        - name: "1.1.6.1 |-> Creating new partition (Oracle)"
          community.general.parted:
              device: /dev/sda 
              number: '{{ sda_info.partitions | length }} '
              label: gpt
              part_end: '12GiB'
              flags: [ lvm ]
              resize: yes
              state: present
        - name: "1.1.6.1 |-> resize partition table (Oracle)"
          command: partx -u /dev/sda
        - name: "1.1.6.1 |-> resize physical volume (Oracle)"
          community.general.lvg:
            vg: ol
            pvs: /dev/sda3
            pvresize: yes
      when: ansible_os_family == "RedHat"
    - name: "1.1.6.1 |-> Creating Logical Volume for /var/log/audit"
      lvol:
        vg: "{{ logical_volume_group }}"
        lv: "var_log_audit"
        size: 1g
        force: yes
    - name: "1.1.6.1 |-> Formatting /dev/mapper/{{ logical_volume_group }}-var_log_audit"
      filesystem:
        fstype: xfs
        dev: "/dev/mapper/{{ logical_volume_group }}-var_log_audit"
    - name: "1.1.6.1 |-> mounting /var/log/audit"
      mount:
        path: /var/log/audit
        src: "/dev/mapper/{{ logical_volume_group }}-var_log_audit"
        fstype: xfs
        state: mounted
    - name: "1.1.6.1 |-> SELinux Policy"
      command: "restorecon /var/log/audit"
  when:
    - "'/var/log/audit' not in mounts"
    - level2|bool == True
  tags:
    - section1
    - section1.1
    - section1.1.6

- name: |
    1.1.6.2 | Ensure nodev option set on /var/log/audit partition
    1.1.6.3 | Ensure noexec option set on /var/log/audit partition
    1.1.6.4 | Ensure nosuid option set on /var/log/audit partition
  become: yes
  mount:
      name: /var/log/audit
      src: "UUID={{ item.uuid }}"
      fstype: "{{ item.fstype }}"
      state: present
      opts: defaults,nodev,nosuid,noexec
  notify: 
    - remount var_log_audit
  loop: "{{ ansible_mounts }}"
  loop_control:
    label: "{{ item.mount }}"
  when:
    - item.mount == '/var/log/audit'
    - level1|bool == True
  tags:
    - section1
    - section1.1
    - section1.1.6
