- name: "1.1.6.1 Ensure /var/log/audit is a separate partition (Automated)"
  become: yes
  block:
    - name: "1.1.6.1 |-> Creating Logical Volume for /var/log/audit"
      lvol:
        vg: deb
        lv: var_log_audit
        size: 1g
        force: yes
    - name: "1.1.6.1 |-> Formatting /dev/mapper/deb-var_log_audit"
      filesystem:
        fstype: xfs
        dev: /dev/mapper/deb-var_log_audit
    - name: "1.1.6.1 |-> mounting /var/log/audit"
      mount:
        path: /var/log/audit
        src: /dev/mapper/deb-var_log_audit
        fstype: xfs
        state: mounted
  when:
    - "'/var/log/audit' not in mounts"
    - level2|bool == True
  tags:
    - section1
    - section1.1
    - section1.1.6

- name: |
    1.1.6.2 | Ensure nodev option set on /var/log/audit partition
    1.1.6.3 | Ensure noexec option set on /var/log/audit partition
    1.1.6.4 | Ensure nosuid option set on /var/log/audit partition
  become: yes
  mount:
      name: /var/log/audit
      src: "{{ item.device }}"
      fstype: "{{ item.fstype }}"
      state: present
      opts: defaults,nodev,nosuid,noexec
  notify: 
    - remount var_log_audit
  loop: "{{ ansible_mounts }}"
  loop_control:
    label: "{{ item.mount }}"
  when:
    - item.mount == '/var/log/audit'
    - level1|bool == True
  tags:
    - section1
    - section1.1
    - section1.1.6
